@theme {
  --animate-blur-sky: blur-sky 3s linear infinite;
  @keyframes blur-sky {
    0% {
      filter: blur(0px);
    }
    100% {
      filter: blur(80px);
    }
  }
}

@layer utilities {
  .coba {
    @apply transition-all;
    @apply relative text-white w-40 h-10 items-center justify-center flex cursor-pointer bg-sky-700 rounded-full;
    @apply hover:active:scale-100 hover:text-midnight hover:scale-110;
  }

  .coba::after {
    content: '';
    filter: blur(0px);
    @apply absolute inset-0 -z-1 w-0 h-0 left-1/2 top-1/2 transition-all duration-700;
  }

  .coba:hover::after {
    filter: blur(80px);
    @apply content-[""] inset-0 -z-1;
    @apply absolute w-full h-full bg-orange-100 rounded-full;
  }
}

@keyframes myrotate {
  from {
    /* opacity: 0; */
    transform: translateY(20px);
    /* transform: rotate(90deg); */
    background: oklch(100% 0.195 0.402);
  }
  to {
    /* opacity: 1; */
    transform: translateY(0);
    /* transform: rotate(0deg); */
    background: oklch(55.3% 0.195 38.402);
  }
}

.coba2 {
  @apply w-20 h-20;
  animation: myrotate both;
  animation-timeline: view(20%);
  animation-range: entry 20% cover 50%;
}

.coba3 {
  @apply h-90;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.coba3 .coba3-item {
  filter: brightness(0);
  @apply transition-all duration-500 w-20 h-30;
}
.coba3 .coba3-item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}
.coba3 .coba3-item:hover + * {
  filter: brightness(0.7);
  transform: translateZ(150px) rotateY(40deg);
}
.coba3 .coba3-item:hover + * + * {
  filter: brightness(0.3);
  transform: translateZ(70px) rotateY(20deg);
}
.coba3 .coba3-item:hover + * + * + * {
  filter: brightness(0.1);
  transform: translateZ(70px) rotateY(10deg);
}

.coba3 .coba3-item:has(+ *:hover) {
  filter: brightness(0.7);
  transform: translateZ(150px) rotateY(-40deg);
}
.coba3 .coba3-item:has(+ * + *:hover) {
  filter: brightness(0.3);
  transform: translateZ(70px) rotateY(-20deg);
}
.coba3 .coba3-item:has(+ * + * + *:hover) {
  filter: brightness(0.1);
  transform: translateZ(70px) rotateY(-10deg);
}
