@theme {
  --color-white: #fff;
  --color-midnight: #060610;
  --color-stone: #a1a1aa;
  --color-mist: #e4e4e7;
  --color-charcoal: #303040;
  --color-sky: #6ddcff;
  --color-indigo: #7f60f9;
  --color-slate: #52525b;
}

.btn-gradient {
  border: 1px solid transparent;
  background: linear-gradient(var(--color-midnight), var(--color-midnight)) padding-box,
    linear-gradient(to right, var(--color-sky), var(--color-indigo)) border-box;
}

.btn-gradient:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) padding-box,
    linear-gradient(to right, var(--color-sky), var(--color-indigo)) border-box;
}

.liner-gradient {
  border: 2px solid transparent;
  background: linear-gradient(var(--color-midnight), var(--color-midnight)) padding-box,
    linear-gradient(to right, var(--color-sky), var(--color-indigo)) border-box;
}
