.custom-link-active {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.2rem;
}

.custom-link {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.custom-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  padding: 0.15rem 0.2rem;
  width: 100%;
}

.custom-link:hover {
  padding: 0.5rem 0.5rem;
}

p::selection {
  @apply bg-indigo/15 text-indigo;

  /* text-shadow: 1px 1px 2px rgba(109, 220, 255, 0.8); */
}
