.custom-link {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.custom-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  padding: 0.15rem 0.2rem;
  width: 100%;
}

.custom-link:hover {
  padding: 0.5rem 0.5rem;
}

p::selection {
  @apply bg-orange-700 text-white;
}
