@theme {
  --font-ibm: 'IBM Plex Sans', sans-serif;
  --font-Inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-great-vibes: 'Great Vibes', sans-serif;
}
