:root {
  --width-thumbnail: calc(var(--spacing) * 27.5);
  --height-thumbnail: calc(var(--spacing) * 30);
  @media (min-width: 40rem) {
    --width-thumbnail: calc(var(--spacing) * 37.5);
    --height-thumbnail: calc(var(--spacing) * 50);
  }
}

.glr {
  width: 100vw;
  height: 100vh;
  @apply overflow-hidden relative;
}
.glr .glr-list {
}
.glr .glr-list .glr-item {
  inset: 0 0 0 0;
  @apply absolute;
}
.glr .glr-list .glr-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.glr .glr-list .glr-item .glr-content {
  @apply font-poppins text-white absolute box-border;
  top: 20%;
  width: 100vw;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 10%;
  text-shadow: 0 5px 10px #0004;
}
.glr .glr-list .glr-item .glr-content .glr-author {
  @apply font-semibold tracking-widest;
}
.glr .glr-list .glr-item .glr-content .glr-topic,
.glr .glr-list .glr-item .glr-content .glr-title {
  @apply font-bold sm:text-6xl text-4xl sm:leading-18 leading-11;
}
.glr .glr-list .glr-item .glr-content .glr-topic {
  @apply text-peach;
}
.glr .glr-list .glr-item .glr-content .glr-des {
  @apply sm:text-sm text-[0.7rem] mt-4;
  max-width: 560px;
}

.glr .glr-list .glr-item .glr-content .glr-buttons {
  @apply flex gap-2 mt-4;
}
.glr .glr-list .glr-item .glr-content .glr-buttons button:hover {
  @apply bg-gray/15 text-white;
}

.glr .glr-list .glr-item .glr-content .glr-buttons button {
  @apply bg-white px-4 py-1 rounded text-midnight text-sm cursor-pointer transition-all;
  @apply border border-white;
}
.glr .glr-list .glr-item .glr-content .glr-buttons button:nth-child(2) {
  @apply bg-transparent text-white;
}

/* thumbnail */
.glr .glr-thumbnail {
  @apply absolute w-max z-100 flex gap-5;
  bottom: 50px;
  left: 50%;
}

.glr .glr-thumbnail .glr-item {
  @apply shrink-0 relative rounded-2xl overflow-hidden;
  width: var(--width-thumbnail);
  height: var(--height-thumbnail);
}

.glr .glr-thumbnail .glr-item img {
  @apply w-full h-full object-cover;
}
.glr .glr-thumbnail .glr-content {
  @apply absolute text-white text-xs;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-shadow: 0 5px 10px #0004;
}

.glr .glr-thumbnail .glr-item .glr-content .glr-title {
  @apply font-bold sm:text-[0.8rem] text-[0.7rem];
}
.glr .glr-thumbnail .glr-item .glr-content .glr-des {
  @apply sm:block hidden;
}

/* arrows */

.glr .glr-arrows {
  @apply absolute flex gap-2 items-center sm:top-[76%] top-[85%];
  right: 60%;
  width: 300px;
  max-width: 30%;
  z-index: 100;
}

.glr .glr-arrows button {
  @apply text-white flex text-center items-center cursor-pointer transition-all duration-600 justify-center text-sm bg-white/20 w-7 h-7 rounded-xl;
}
.glr .glr-arrows button:hover {
  @apply bg-white/80 text-midnight;
}

.glr .glr-list .glr-item:nth-child(1) {
  z-index: 1;
}
.glr .glr-list .glr-item:nth-child(1) .glr-author,
.glr .glr-list .glr-item:nth-child(1) .glr-title,
.glr .glr-list .glr-item:nth-child(1) .glr-topic,
.glr .glr-list .glr-item:nth-child(1) .glr-des,
.glr .glr-list .glr-item:nth-child(1) .glr-buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContentGlr 0.5s 0.5s linear 1 forwards;
}

@keyframes showContentGlr {
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

.glr .glr-list .glr-item:nth-child(1) .glr-topic {
  animation-delay: 0.7s;
}
.glr .glr-list .glr-item:nth-child(1) .glr-title {
  animation-delay: 1s;
}
.glr .glr-list .glr-item:nth-child(1) .glr-des {
  animation-delay: 1.2s;
}
.glr .glr-list .glr-item:nth-child(1) .glr-buttons {
  animation-delay: 1.4s;
}

/* effect next click */
.glr.next .glr-list .glr-item:nth-child(1) img {
  @apply absolute;
  width: var(--width-thumbnail);
  height: var(--height-thumbnail);
  left: 50%;
  bottom: 50px;
  border-radius: var(--radius-2xl);
  animation: showImageGlr 0.5s linear 1 forwards;
}

@keyframes showImageGlr {
  100% {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.glr.next .glr-thumbnail .glr-item:nth-last-child(1) {
  width: 0;
  @apply overflow-hidden;
  animation: showThumbnailGlr 0.5s linear 1 forwards;
}

@keyframes showThumbnailGlr {
  to {
    width: var(--width-thumbnail);
  }
}

.glr.next .glr-thumbnail {
  transform: translateX(var(--width-thumbnail));
  animation: transformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0px);
  }
}

.glr.prev .glr-list .glr-item:nth-child(2) {
  z-index: 2;
}
.glr.prev .glr-list .glr-item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImageGlr 0.5s linear forwards;
}

@keyframes outImageGlr {
  to {
    width: var(--width-thumbnail);
    height: var(--height-thumbnail);
    left: 50%;
    bottom: 50px;
    border-radius: var(--radius-2xl);
  }
}

.glr.prev .glr-thumbnail .glr-item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnailGlr 1s linear 1 forwards;
}
.glr.prev .glr-list .glr-item:nth-child(2) .glr-author,
.glr.prev .glr-list .glr-item:nth-child(2) .glr-title,
.glr.prev .glr-list .glr-item:nth-child(2) .glr-topic,
.glr.prev .glr-list .glr-item:nth-child(2) .glr-des,
.glr.prev .glr-list .glr-item:nth-child(2) .glr-buttons {
  animation: contentOutGlr 0.5s linear 1 forwards;
}

@keyframes contentOutGlr {
  to {
    transform: translateY(-var(--width-thumbnail));
    filter: blur(20px);
    opacity: 0;
  }
}

.glr.next .glr-arrows button,
.glr.prev .glr-arrows button {
  pointer-events: none;
}
