
.hero-container-content-1 { order: 2; }
.hero-container-photo { order: 1; }

.hero-container-content {
  flex-direction: column; /* default di mobile */
}

@media (min-width: 1040px)  {
  .hero-container-content {
    flex-direction: row;
  }
  .hero-container-content-1 { order: 1; }
  .hero-container-photo { order: 2; }
}

@media (max-width: 700px)  {
  .header-logo-cu{
    padding-block: 0.5rem;
    font-size: 0.8rem;
  }
  .header-logo-image{
    width: 1.2rem;
  }
  .hero-container-content{
    gap: 2rem;
  }
  .hero-container-photo{
    width: 13rem;
  }
  .hero-content-title{
    font-size: 1.7rem !important;
  }
  .hero-content{
    font-size: 0.6rem !important;
  }
  .header-logo{
    font-size: 0.8rem !important;
  }
  .btn-search{
    font-size: 0.6rem !important;

  }
}

@media (max-height: 300px) and (max-width: 819px) {
  .hero-container-content{
    gap: 2rem;
    flex-direction: row;
    overflow: scroll;
  }
  
}

.parallax {
  background-attachment: fixed; /* Ini kunci parallax */
}